# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Build outputs
dist/
build/
public/static/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs

*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Vercel config overrides
.vercel/